/*
ADDING FONTS
*/
@font-face{
    font-family: 'Simplo Caps DEMO';        
    src: url('../fonts/Simplo W90 Caps DEMO.ttf') format('truetype');     
    font-weight: normal;    
    font-style: normal;    
}

body {
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 768px) {
        .container {
            width: 740px;
        }
}


.header{
    background-color: #f2f2f2;
}

.top-top-menu{
    margin: 0;
    background-color: #424242;
}

.top-top-menu_items{
    width: 32%;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px auto;
}

.top-top-menu_item{
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
}

.header-core{
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    height: 74px;
    width: 136px;
    display: inline-flex;
}

.logo_text{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #5b5b5b;
    font-family: "Simplo Caps DEMO";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    margin: 0px;
}

.search{
    width: 458px;
    padding: 4px 0;
    background-color: #79b260;
    margin: 0px 52px 0px 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search_input {
    width: 320px;
    padding: 7px 0px;
    margin-right: 10px;
}

.search_button{
    background-color: #79b260;
    border: none;
    color: #ffffff;
    font-family: "Segoe WPN";
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
}

.chart{
    height: 70px;
    width: 300px;
}

.cart{
    border-right: 1px solid #dedede;
}

.cart_ref{
    width: 147px;
    height: 20px;
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 400;
}

.cart_items{
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 13px;
}

.cart_value{
    width: 79px;
    height: 25px;
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 27px;
    font-weight: 700;
    line-height: 26px;
}

.cart_checkout{
    width: 81px;
    height: 26px;
    background-color: #000000;
    color: #ffffff;
    border: none;
}

.wish-list{

}

.wish-list_count{
    width: 28px;
    height: 16px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 13px;
    font-weight: 400;
    background-color: #79b260;
    border-radius: 10px;
    text-align: center;
}

.wish-list_title{
    width: 77px;
    height: 17px;
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 21px;
    font-weight: 400;
}

.top-menu{
    height: 41px;
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.top-menu_item{
    color: #5b5b5b;
    font-family: "Segoe UI Symbol";
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 13px 0px 13px;
}

.top-menu_item:hover {
    color: #ffffff;
    background-color: #79b260;
}

.main-content{
    background-color: aquamarine;
}

.footer{
    background-color: #41423f;
    color: #dddddd;
}

.ref-table{
}

.cards{
    background-color: #332f2c;
    border-bottom: 1px solid #dddddd;
    height: 95px;
}

.privacy{
    background-color: #332f2c;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}