/*
ADDING FONTS
*/
@font-face{
    font-family: 'Simplo Caps DEMO';
    src: url('../fonts/Simplo W90 Caps DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Segoe WP';
    src: url('../fonts/Segoe WP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.container {
    width: 996px;
    margin: 0 auto;
    padding: 0px;
}


.header{
    background-color: #f2f2f2;
}

.header-bar{
    margin: 0;
    background-color: #424242;
}

.header-bar_items{
    width: 32%;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px auto;
}

.header-bar_item{
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
}

.header-core{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-flex;
}

.logo_text{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #5b5b5b;
    font-family: "Simplo Caps DEMO";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
    margin: 0px;
}

.search{
    padding: 4px;
    background-color: #79b260;
    /*margin: 0px 52px 0px 43px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    margin-right: 10px;
    width: 328px;
}

.search_button{
    background-color: #79b260;
    border: none;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 400;
}

.cart{
    display: flex;
}

.cart_main{
    border-right: 1px solid #dedede;
    padding-right: 6px;
}

.cart_ref{
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 23px;
    font-weight: 400;
}

.cart_items{
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 13px;
}

.cart_value{
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 27px;
    font-weight: 700;
    line-height: 26px;
}

.cart_checkout{
    background-color: #000000;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 15px;
    font-weight: 400;
    width: 87px;
    height: 30px;
    box-shadow: inset 1px 1px 0 rgba(118, 118, 118, 0.75);
    border: 1px solid #232323;
}

.wish-list{
    position: relative;
    display: flex;
    padding-left: 22px;
}

.wish-list_count{
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 13px;
    font-weight: 400;
    background-color: #79b260;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 62px;
    padding: 0px 6px;
}

.wish-list_title{
    color: #6d6d6d;
    font-family: "Segoe WP";
    font-size: 21px;
    font-weight: 400;
}

.header-menu{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.header-menu_item{
    color: #5b5b5b;
    font-family: "Segoe WP";
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 13px 0px 13px;
}

.header-menu_item:hover {
    color: #ffffff;
    background-color: #79b260;
}

.main-content{
    display: flex;
}

.banner-panel{
    display: flex;
    margin: 14px 0px;
}

#slider{
    margin-right: 13px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 38px;
    width: 38px;
    outline: black;
    /*background-size: 100%, 100%;*/
    border-radius: 50%;
}

.carousel-control-prev-icon{

    background-image: url("../images/left-button-logo.png");
}
.carousel-control-next-icon {

    background-image: url("../images/right-button-logo.png");
}

.carousel-control-prev{
    left: -15px;
}

.carousel-control-next{
    right: -15px;
}


.left-menu{
    border: 1px solid #d8dce0;
    width: 19%;
    padding: 10px;
    margin-right: 8px;
}
.left-menu_header{
    color: #6b6969;
    font-family: "Segoe WP";
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.left-menu_list{
    list-style:none;
    padding: 0px;

}

.list_header, .list_child{
    text-decoration: none;
    color: #696969;
    font-family: "Segoe WP";
    font-weight: 400;
    line-height: 31.67px;
}

.list_header{
    font-size: 17px;
}

.list_child{
    font-size: 14px;
    border-bottom: 1px solid #f1f2f3;
}

.tab-panel_ref, tab-panel_ref:hover, tab-panel_ref:active{
    text-decoration: none;
    display: block;
}

.tab-item, .tab-item:active, .tab-item:hover{
    padding: 12px 22px;
    border: 1px solid #d8dce0;
    background-color: #efefef;
    text-decoration: none;
    color: #6b6969;
    font-family: "Helvetica LT Std";
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

.page-link{
    color: #646464;
    font-family: "Helvetica LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 0px 7px;
    border: none;
}

.page-item > a{
    text-decoration: none;
}

.page-item.active{
    border-bottom: 4px solid #81bd66;
    background-color: #ffffff;
    color: #646464;
    font-family: "Helvetica LT Std";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 0px 7px;
    border: none;
}

#panel1{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #41423f;
    color: #dddddd;
}

.ref-table{
    display: flex;
}

.cards{
    background-color: #332f2c;
    border-bottom: 1px solid #515154;
    height: 95px;
    color: #dddddd;
    font-family: "Segoe WP";
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.cards_icons{
   
}

.privacy{
    background-color: #332f2c;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}